<div class="element">
    <img [src]="myCity?.image" />

    <div class="menu-container centered">
        <div class="menu">
            <h1>{{myCity?.title}}</h1>

            <div *ngIf="!isQuestion">

                <h2>
                    {{myCity?.value}}
                </h2>
            </div>

            <div *ngIf="isQuestion" class="isQuestion">
                <h2>
                    {{placeholderValue}}
                </h2>
                <div [ngSwitch]="placeholderValue">
                    <div class="buttons" *ngSwitchCase="''">
                        <button mat-raised-button (click)="onButtonClick('green')" [style.background-color]="'green'" [style.color]="'white'">
                            Higher
                            <mat-icon>
                                arrow_circle_up
                            </mat-icon>
                        </button>
                        <button mat-raised-button (click)="onButtonClick('red')" [style.background-color]="'red'" [style.color]="'white'">
                            Lower
                            <mat-icon>
                                arrow_circle_down
                            </mat-icon>
                        </button>
                    </div>
                    <div *ngSwitchDefault>
                        <button mat-raised-button (click)="onNextButtonClick()" color="primary">
                            {{nextButton.text}}
                            <mat-icon>
                                {{nextButton.iconText}}
                            </mat-icon>
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- <img [src]="image" /> -->
</div>