.centered {
    position: absolute;
    //al centro
    top: calc(50% + var(--mat-toolbar-mobile-height) / 2);
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #d8ecffc2;
    // width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

h4 {
    margin: 0;
    font-size: 1em;
}